body {
    background-color: lightslategrey;
    
}
.wrapper {
    background-color: navajowhite;
    height: 100%;
    width: 75%;
    text-align: center;
    padding: 0px 0px 50px 0px;
    margin: 0 auto 0 auto;
    border-radius: 25px;
}
.leftside {
    float: left;
    margin: 0 auto 0 auto;
}

.rightside {
    float: right;
    margin: 0 auto 0 auto;

}

.headtitle {
    padding: 50px 0px 25px 0px;
    width: 100%;
    text-align: center;
    color: darkslategray;
    text-shadow: 2px 2px white;
}
.mazehole {
    font-size: 8px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: ghostwhite;
    margin: 1px 1px 1px 1px;
    /*padding: 6px 0 0 0;*/
    line-height: 20px;
    white-space: nowrap;
}
.mazehole:hover {
    background-color: lightslategray;
}
.mazerow {
    font-size: 0px;
    text-align: center;
    width: 100%;
}
.mazewrapper {
    font-size: 0px;
}
.locationdisplay {
    height: 75px;
    width: 150px;
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 10px auto 0 auto;
    padding: 1px 1px 1px 1px;

}
#locheader {
    color: darkslategray;
    height: 60%;
    width: 100%;
    margin: 0 auto 0 auto;
}
#htmlloc {
    font-size: 18px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: verdana;
    font-style: bold;
}
.GoalPositionX {
    height: 65px;
    width: 100px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
    margin: 30px auto 30px auto;
    font-size: 16px;
    padding: 25px 0px 0px 0px;
    font-family: verdana;
    font-style: bold;
    color: firebrick;
}
.GoalPositionY {
    height: 65px;
    width: 100px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
    margin: 30px auto 100px auto;
    font-size: 16px;
    padding: 25px 0px 0px 0px;
    font-family: verdana;
    font-style: bold;  
    color: firebrick;
}
.EntryPositionX {
    height: 65px;
    width: 100px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
    margin: 30px auto 30px auto;
    font-size: 16px;
    padding: 25px 0px 0px 0px;
    font-family: verdana;
    font-style: bold;
    color: cornflowerblue;
}
.EntryPositionY {
    height: 65px;
    width: 100px;
    background-color: ghostwhite;
    border: none;
    border-radius: 5px;
    margin: 30px auto 100px auto;
    font-size: 16px;
    padding: 25px 0px 0px 0px;
    font-family: verdana;
    font-style: bold;
    color: cornflowerblue;
}
.coords {
    font-family: verdana;
}
.htmlTextColorInMazeHoles{
    color: red;
    
}